.venv/
__pycache__/
Prompt.md
imageRecords.db

# 忽略 pendingImages 資料夾中的所有內容
pendingImages/*
!pendingImages/.gitkeep

# 忽略 membersOnly 資料夾中的所有內容
membersOnly/*
!membersOnly/.gitkeep

# 忽略 publicPreview 資料夾中的所有內容
publicPreview/*
!publicPreview/.gitkeep
